Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of data, so that it can be easily accessed and managed. We can organize data into tables, rows, columns, and index it to make it easier to find relevant information.

Difference between SQL and NoSQL databases.
 1. Type: - 
     * SQL databases are called as Relational Databases.
     * NoSQL databases are called as non-relational databases.
 2. Structure - 
     * We follow table based structure on SQL databases.
     * We follow either key-value pairs, document-based, graph databases in NoSQL databases.
 3. Scalability - 
     * SQL databases are vertically scalable.
     * NoSQL databases are horizontally scalable.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language. It is used to create and modify the structure of database objects in a database.

CREATE - This command is used for building a new table with some predifned syntax.
         
       Example - Create Table Employee (employee_id integer primary key, first_name char(50) null, last_name char(50) not null);
         
DROP - This command is used to delete a table, index or view. A DROP statement cannot be rolled back.
       
       Example - DROP TABLE Employee;
    
ALTER - This command is used for modifying an existing database table. We can add up additional columns, drop existing colummns and even change the data type of columns using this command.
       
       Example - Alter table Employee add column email_id varchar;
       
TRUNCATE - Truncate is used to remove all records from a table. It preserves its full structure to be reused later.

       Example - TRUNCATE TABLE Employee;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language. This is used to manipulate data in Database. This manipulation involves inserting data into database tables, retrieving existing data, deleting data from existing tables and modifying existing data.

INSERT - This command adds one or more records to a database table.

         Example - Insert into Employee values (1, 'Arnab', 'Bhakta', 'arnab@gmail.com')
         
UPDATE - This command modifies data of one or more records.
    
         Example - Update Employee set email='arnab1@gmail.com' where employee_id=1;
         
DELETE - This command removes one or more records from a table according to specified conditions.

         Example - Delete From Employee where employee_id=1;

Q4. What is DQL? Explain SELECT with an example.

DQL stands Data Query Language. It is used to get and organise data from a database.

         Example - Select * from Employee where employee_id=1;

Q5. Explain Primary Key and Foreign Key.

A primary key is used to ensure that data in the specific column is unique. Primary key cannot contain null values.

A Foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

mycursor = mydb.cursor()
mycursor.execute("select * from test.test_table")

Cursors are created by the cursor() method: they are bound to the connection for the entire lifetime and all the commands are executed in the context of the database session wrapped by the connection.

execute() Method: This method executes the given database operation (query or command).

Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in an SQL query - 

    1. Getting Data (From, Join)
    2. Row Filter (Where)
    3. Grouping (Group by)
    4. Group Filter(Having)
    5. Return Expressions (Select)
    6. Order & Paging (Order by & Limit / Offset)